{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@shopify/prettier-plugin-liquid",
        "@prettier/plugin-ruby",
        "prettier-plugin-erb"
    ],
    "tailwindStylesheet": "./_tailwind.css"
}
