<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styling.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="icon"
      href="{{ '/favicon.ico' | relative_url }}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{{ '/favicon.ico' | relative_url }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ '/favicon.svg' | relative_url }}"
      type="image/svg+xml"
    />
    {% include google-analytics.html %}
  </head>
  <body
    id="blog-page"
    class="flex min-h-screen flex-col items-center justify-center bg-blue-900"
  >
    <div class="mx-auto max-w-2xl px-8 py-8 text-left">
      {% include header.html %}

      <!-- Blog content -->
      <main class="blog-content">{{ content }}</main>
    </div>
  </body>
</html>
